.btn {
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        .circle {
            width: 20px !important;
            height: 20px !important;
            margin-left: 10px;
        }
    }
}
