$purple: #522583;
$dark-purple: #3D156A;
$white: #FFFFFF;
$green: #258378;
$sky-blue: #1976D2;
$blue: #0077B5; 
$black: #2A2A2A;
$gray: #949494;
$light-purple: rgba(82, 37, 131, 0.07);
$soft-purple: #5225835C;
$border: #EFEDF2;
$body: #F6F5FA;
$light-rose: #E1DBE7;
$backgdrop: #00000028;
$light-gray: #F1F5F6;
$storm-gray: #676768;
$warning: #E45353;
$approve: #0FB398;
