@import '../../assets/variables/colors.scss';

body {
  height: 100vh;
}

.profile {
  margin-right: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  background-color: $white;
  margin-bottom: 25px;
  padding: 20px 40px;

  &__left {
    display: flex;
    align-items: center;
    transform: translateY(15px);
    z-index: 9;

    &-btn {
      min-width: 108px;
      height: 47px;
      border-radius: 9px;
      background-color: $purple;
      color: $white;
      border-color: $purple;

      &:hover {
        color: $purple;
        border: 1px solid $purple;
      }
    }

    &__dropdown {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 172px;
      margin-left: 53px;

      &-btn {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
      }

      &__content {
        padding: 20px 27px;
        width: 395px;
        height: 293px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background: $white;
        box-shadow: 0px 1px 12px 0px rgba(141, 156, 174, 0.25);
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(312px);

        &-cards {
          margin-bottom: 20px;
        }
      }

      &-arrow {
        transform: rotate(180deg);

        &.active {
          transform: rotate(0deg);
        }
      }
    }
  }
}
