@import '../../../../assets/variables/colors.scss';

.overview__bar::-webkit-scrollbar {
  width: 10px;
}

.overview__bar::-webkit-scrollbar-track {
  box-shadow: $white;
}

.overview__bar::-webkit-scrollbar-thumb {
  background: $purple;
  border-radius: 10px;
}

.overview {
  display: flex;
  margin-top: 25px;

  &__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 400px;
    padding-right: 15px;

    .bar {
      margin-bottom: 25px;

    }
  }
}